<div class="p-4 bg-purple-200 rounded-md">
  <h4 class="flex justify-between">
    <span class="text-xl font-medium"><%= movie.title %></span>

    <div class="flex space-x-2">
      <%- include('icon_label', { icon: 'calendar', text: movie.year }); %>

      <%- include('icon_label', { icon: 'clock', text: movie.displayLength() }); %>
    </div>
  </h4>

  <a
    href="<%= movie.imdbUrl %>"
    class="w-full mt-2"
  >
    <img
      src="<%= movie.posterUrl %>"
      alt="<%= movie.title %> Poster"
      class="w-full"
    >
  </a>
</div>
