<h3>
  <%= movie.title %>
  <small>(<%= movie.year %>, <%= movie.displayLength() %>)</small>
</h3>

<a href="<%= movie.imdbUrl %>">
  <img src="<%= movie.posterUrl %>" alt="<%= movie.title %> Poster">
</a>
