<h4 class="text-xl">
  <%= movie.title %>
  <small>(<%= movie.year %>, <%= movie.displayLength() %>)</small>
</h4>

<a
  href="<%= movie.imdbUrl %>"
  class="w-full p-10"
>
  <img
    src="<%= movie.posterUrl %>"
    alt="<%= movie.title %> Poster"
    class="w-full"
  >
</a>
