<% const titleSize = movie.title.length > 20 ? 'text-xl' : 'text-2xl'; %>

<div class="flex flex-col px-4 py-2 rounded-md bg-violet-200 sm:w-1/2">
  <h4 class="flex items-center justify-center h-12">
    <span class="<%= titleSize %> overflow-hidden font-medium text-center  overflow-ellipsis">
      <%= movie.title %>
    </span>
  </h4>

  <div class="flex flex-col justify-between flex-1">
    <div class="relative mt-2">
      <% if (movie.isFieldTrip()) { %>
        <a
          href="<%= movie.showingUrl %>"
          class="absolute inset-0 flex items-center justify-center w-full h-12 text-lg font-medium text-center text-white opacity-80 bg-fuchsia-500"
        >
          Field Trip to <%= movie.theaterName %>!
        </a>
      <% } %>

      <a
        href="<%= movie.imdbUrl %>"
        class="w-full"
      >
        <img
          src="<%= movie.posterUrl %>"
          alt="<%= movie.title %> Poster"
          class="w-full"
        >
      </a>
    </div>

    <span class="flex justify-between mt-2">
      <span class="font-medium text-md text-slate-700">
        <%= movie.director %>
      </span>

      <div class="flex space-x-2">
        <%- include('icon_label', { icon: 'calendar', text: movie.year }); %>

        <%- include('icon_label', { icon: 'clock', text: movie.displayLength() }); %>
      </div>
    </span>
  </div>
</div>
